<html>

  <body>


  <form action="/create" method="POST">
    <input type="text" name="book" placeholder="Add a book" required>
    <input type="text" name="author" placeholder="Author" required>
    <input type="text" name="isbn" placeholder="Input ISBN numbers" required>
    <input type="text" name="descrip" placeholder="Input a description of the book" required>
    <button>Add new Book</button>
  </form>

    <ul><h1>Alvin's Hipchat Books</h1>

    <% bookObj.forEach(function(book){ %>
        <ul><a href="/book/<%= book.id %>" >#<%= book['id'] %> Book Title: <%= book['title'] %></a>
          <li>By: <%= book['author'] %></li>
        </br>
        </ul>
    <% }) %>

  </body>

</html>
